header{
    .logo{
        width: 5rem;
        height: 2rem;
    }
}
.imgHeader{
        width: 10rem;
}
.navegacionSuperior{
    @extend %flexActivacion;
    align-items: center;
}
.contenedorInferior{
    h2{
        @include textosBasicos(red,1rem,center)
    }
}